[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-ai = "*"
pydantic-graph = "*"
hello-pydantic-graph = {file = ".", editable = true}

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.13"
